a {
  text-decoration: none;
  color: white;
}
p {
  border: solid 3px black;
}

/* Header */

.header {
  position: fixed;
  top: 0%;
  background: #000;
  width: 100%;
  padding: 15px 0;
  z-index: 10;
}
.menu {
  text-align: right;
  margin-top: 5px;
}
.menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}
.menu ul li a {
  color: white;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10 0;
}
.menu ul li a:hover {
  color: #ff7a01;
  transition: 0.4s;
}

/* Contato */

.contato {
  height: 400px;
  width: 100%;
  background: url("../imagens/Banner.jpg");
  margin-top: 70px;
}
.contato h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-top: 165px;
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
}

/* Localizaçao */

.local {
  background: #d8ac57;
  width: 100%;
  height: 500px;
}

.local p {
  height: 398px;
  margin-top: 55px;
  font-size: 25px;
  padding: 5px 2px;
}
.local img {
  margin-top: 55px;
  border: solid 3px black;
}

/* Footer */

.footer {
  width: 100%;
  height: 60px;
  background: black;
}
.footer p {
  color: white;
  font-size: 18px;
  padding: 15px 0;
}
