a {
  text-decoration: none;
  color: white;
}
p {
  border: solid 3px black;
}

/* Header */

.header {
  position: fixed;
  top: 0%;
  background: #000;
  width: 100%;
  padding: 15px 0;
  z-index: 10;
}
.menu {
  text-align: right;
  margin-top: 5px;
}
.menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}
.menu ul li a {
  color: white;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10 0;
}
.menu ul li a:hover {
  color: #ff7a01;
  transition: 0.4s;
}

/* Home */

.banner {
  height: 400px;
  width: 100%;
  background: url("../imagens/banner.jpg");
  margin-top: 70px;
}
.banner h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-top: 165px;
  text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000,
    -1px -1px 1px #000;
}

/* Introduçao */

.text {
  width: 100%;
  height: 720px;
  background: #d8ac57;
  border-bottom: 1px #000;
}
.quemsomos {
  margin-top: 35px;
}
.qs1 {
  text-align: center;
  font-size: 35px;
  padding: 10px 0;
}
.qs2 {
  height: 280px;
  padding: 15px;
  text-align: left;
  color: black;
  background: #96723a;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: solid 3px black;
}
.ilu {
  margin-top: 335px;
}

.pratos {
  width: 100%;
  height: 2600px;
  background: #d8ac57;
}
.espec {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 45px;
}

.pratos p {
  background: #96723a;
  font-size: 26px;
  height: 719px;
  padding: 0 10px;
}

/* Tapioca */
.tapioca p {
  background: #96723a;
  font-size: 26px;
  height: 719px;
  padding: 0 12px;
}
.tapioca {
  margin-top: 150px;
}
.tapioca h2 {
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
  font-size: 40px;
}
.tapioca ul li {
  margin-bottom: 17px;
}

/* Baiao de Dois */

.baiao h3 {
  position: absolute;
  margin-left: 640px;
  margin-top: 770px;
  font-size: 40px;
}

.baiao p {
  height: 425px;
  width: 520px;
  margin-left: 15px;
}

/* Mungunzá */

.mungunza {
  margin-top: 1340px;
}
.mungunza h2 {
  position: absolute;
  margin-left: 180px;
  margin-top: 30px;
  font-size: 40px;
}
.mungunza ul li {
  margin-bottom: 17px;
}

/* Acaraje */

.acaraje h4 {
  position: absolute;
  margin-left: 690px;
  margin-top: 770px;
  font-size: 40px;
}

.acaraje p {
  height: 425px;
  width: 520px;
  margin-left: 15px;
}

/* Footer */

.footer {
  width: 100%;
  height: 60px;
  background: black;
}
.footer p {
  color: white;
  font-size: 18px;
  padding: 15px 0;
}
